<!--The content below is only a placeholder and can be replaced.-->

<nav class="nav">
  <li routerLinkActive="active"><a  routerLink="auth" class="nav-link active" href="#">Authentificaton</a></li>
  <li routerLinkActive="active"> <a  routerLink="appareils" class="nav-link" href="#">Liste des appareils</a></li>
  <li routerLinkActive="active"> <a  routerLink="edit" class="nav-link" href="#">Nouvelle appareil</a></li>
  <li routerLinkActive="active"> <a  routerLink="user-list" class="nav-link" href="#">Liste des utilisateurs</a></li>
  <li routerLinkActive="active"> <a  routerLink="auth/signup" class="nav-link" href="#">S'inscrire</a></li>
  <li routerLinkActive="active"> <a  routerLink="auth/signin" class="nav-link" href="#">Se connecter</a></li>

</nav>
<div class="class navbar-right">
  <p>Vous etes connecté depuis {{second}}</p>
</div>

<div class="container">
  <div class="row">
  <router-outlet></router-outlet>
  </div>
</div>
